div#bd_checkout {
    padding-bottom: 2rem;
}

.col-inner.box-shadow-2.box-shadow-3-hover.box-item {
    background: #efefef;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #afadad;
    cursor: pointer;
    transition: 0.2s;
}

.riode_prod_bundle_bn {
    width: 48% !important;
    background-color: #4A7F83;
    border-radius: 0px !important;
    color: white !important;
    display: inline-block;
    margin-bottom: 2rem;
    border: 0;
    font-size: calc(1.4rem * var(--rio-typo-ratio,1));
    font-weight: 600;
    line-height: 4.5rem;
    padding: 0 3.5em;
    vertical-align: middle;
    text-transform: none;
}

.riode_prod_bundle_bn:hover{
    background-color: #4A7F83 !important;
}

.riode_prod_bundle_bn.disabled {
    color: #1A3838 !important;
}

.col-inner.box-shadow-2.box-shadow-3-hover.box-item:hover {
    transition: 0.2s;
    background: #d5d5d5;
}

.bd_selected_default_opt .col-inner, .bd_active {
    background: #d5d5d5 !important;
}

.bd_c_package_image>img {
    border-radius: 3px;
    margin-bottom: 1rem;
}

.product_variations_table .variation_item {
    width: 100% !important;
}

.product_variations_table td.variation_img {
    width: 25% !important;
    padding-left: 1.25rem !important;
}

.product_variations_table {
    background-color: #f9f9f9 !important;
    box-shadow: 0px 2px 4px #afadad;
    border-radius: 5px;
    padding: 1rem;
}

.pi-1 {
    font-size: 14px;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 600;
}

span.show_discount_label {
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 0.7rem;
    color: var(--wp--preset--color--primary);
}

.pi-price-pricing {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.pi-price-total {
    font-weight: 600;
}

.bd_items_div_inner_row.row {
    margin-bottom: 20px;
}

@media(max-width:425px) {
    .bd_c_package_image {
        text-align: center;
        padding-top: 3rem;
    }

    .bd_item_div {
        margin-bottom: 2rem;
    }
}

@media(max-width:384px) {
    .bd_c_package_image {
        padding-top: 0.5rem;
    }
}